* {
    box-sizing: border-box;
    color: #777;
}


@font-face {
    font-family: HeronSansCond;
    src: url('/Fonts/Font\ Bureau\ -\ HeronSansCond\ Bold.otf');
}

@font-face {
    font-family: Akkurat;
    src: url('/Fonts/Akkurat.ttf');
}

/*----------------------------------------------------
                General css
------------------------------------------------------*/

html,
body {
    scroll-behavior: smooth;
    font-family: Akkurat;

    margin: 0;
    padding: 0;
    border: 0px;
    height: 100%;
    min-height: 100vh;
    font: 400 13.3333px Arial
}

body {
    display: flex;
    flex-direction: column;
    
    background-color: rgb(12, 1, 14);

}

p {
    font-family: akkurat;
    color: white;
}

canvas {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 1vw;
}

/*----------- Navigation css ------------------------------*/

.nav ul {
    margin: 0;
    padding: 0;
}

.nav Li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*----------- Flex css ----------------------------------*/

.flex-rows {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.flex-column {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*----------- Page title css ------------------------------*/

.page-title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    font-weight: lighter;
    font-family: HeronSansCond;
}

.page-title h1 {
    font-size: 5em;
    color: white;
    margin: 0.5em;
}

.page-title h2 {
    font-size: 2.5em;
    color: white;
    margin: 0px;
}

/*----------- Info text css -------------------------------*/

.info-text {
    background-color: rgb(70, 8, 61);
    padding: 20px;
    border-radius: 25px;
    margin: 1em;
    margin-bottom: 3em;
    width: 50%;
    color: white;
}

.info-text h1 {
    color: white;
    font-family: HeronSansCond;
    font-size: 2.5em;
}

.info-text p {
    font-size: 1.5em;
}
.info-text a {
    color: white;
}

/*----------------------------------------------------
                Header css
------------------------------------------------------*/

.main-header h1 {
    text-align: center;
    color: rgba(255, 255, 255);
    margin: 0;
    padding-top: 30px;
    margin-bottom: 30px;
   
    
}

.main-header a{
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    font-family: akurat;
    border-top: 1px solid white;
}

.main-nav a {
    color: white;
    font-family: Akkurat;
}

.main-nav li {
    padding: 0 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-header {
    background-color: rgb(30, 13, 48);
    font-family: HeronSansCond;
}

.content {
    flex: 1 0 auto;
}

/*----------------------------------------------------
                Footer css
------------------------------------------------------*/

.main-footer {
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(30, 13, 48);
    color: white;
    padding: .25em 0;
    
}

.main-footer h3 {
    color: white;
    font-weight: lighter;
    font-size: 1.1em;
    margin-left: 1vw;
}

.main-footer a {
    color: white;
    text-decoration: none;
    font-family: Akkurat;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container nav {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

/*----------------------------------------------------
                Main page specific css
------------------------------------------------------*/

.home-header {
    padding: 200px;
    background-image: url("/Images/temp street img 3.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.459);
    background-blend-mode: multiply;
}

/*----------- Welcome sign --------------------------------*/

.welcome-sign {
    color: white;
    background-color: rgb(70, 8, 61);
    margin: 20px;
    width: 75%;
    padding: 15px;
    position: relative;
   

    font-family: akkurat;
    text-align: center;
}

.welcome-sign h1 {
    font-family: HeronSansCond;
    font-size: 2em;
    color: white;
}

.welcome-sign p {
    font-size: 1.5em;
    margin: 20px;
}

.welcome-sign:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid rgb(12, 1, 14);
    border-left: 80px solid rgb(70, 8, 61);
    width: 0;
}

/*----------- Home page navigation buttons ----------------*/

.home-nav {
    margin: 20px;
    border: 0;
    transition-duration: 300ms;
    font-family: HeronSansCond;
    
}

.home-nav a{
    text-decoration: none;
}

.home-nav h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    height: 300px;
    color: white;
    font-size: 2.5em;
}

.home-nav:hover {
    transform: scale(1.2);
}

.home-nav-games {
    background-image: url("/Images/compter temp.PNG");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
}

.home-nav-art {
    background-image: url("/Images/art temp.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
}

.home-nav-about {
    background-image: url("/Images/ivo 19-2-2021.JPG");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
}

.home-nav-info {
    background-image: url("/Images/extra\ info\ temp.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
}


/*----------------------------------------------------
                Art page specific css
------------------------------------------------------*/

.Animation-video {
    width: 600px;
    height: 350px;

    margin: 40px;
}

/*----------- Tag css ----------------------------------*/

.tag-section {
    margin-left: 5%;
    margin-right: 5%;
}

.tag {
    border: none;
    background: none;

    background-color: rgb(30, 13, 48);
    border-radius: 25px;

    border: 1px solid rgb(89, 65, 114);

    padding-top: 5px;
    margin: 5px;
}

.tag h4 {
    color: white;
    margin: 10px;
    padding: 0;
    font-family: akkurat;
}

.tag:hover {
    background-color: rgb(89, 65, 114);
    cursor: pointer;

    border: 1px solid rgb(117, 98, 138);
}

.selected-tag {
    border: none;
    background: none;

    background-color: rgb(89, 65, 114);
    border-radius: 25px;

    border: 1px solid rgb(89, 65, 114);

    padding-top: 5px;
    margin: 5px;
}

.selected-tag h4 {
    color: white;
    margin: 10px;
    padding: 0;
    font-family: akkurat;
}

/*----------- Picture css ----------------------------------*/

.picture-buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.picture-container {
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 230px;
    border-radius: 25px;

    margin: 10px;
}

.picture-container img {
    transition-duration: 300ms;
    width: 400px;
}

.picture-container img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/*----------- top button ----------------------------------*/

.topButton {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 

    background-color: rgb(30, 13, 48);
    border-radius: 25px;

    border: 5px solid rgb(89, 65, 114);

    padding-top: 5px;
    margin: 5px;

    color: white;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    font-family: HeronSansCond;

  }

  .topButton:hover {
    background-color: rgb(89, 65, 114);
    cursor: pointer;

    border: 5px solid rgb(117, 98, 138);
  }


/*----------------------------------------------------
                Game page specific css
------------------------------------------------------*/

/*----------- Buttons with text and img -------------------*/

.text-picture-button {
    text-align: center;
    align-content: center;
    margin: 1em;
    height: fit-content;

    background-color: rgb(30, 13, 48);
    border-radius: 25px;

    -webkit-box-shadow: 6px 6px 2px 2px rgb(89, 65, 114);
    box-shadow: 6px 6px 2px 1px rgb(89, 65, 114);
    padding: 2em;
    transition-duration: 200ms;

    font-weight: lighter;
    font-family: HeronSansCond;

    text-decoration: none;
}

.text-picture-button h1 {
    font-size: 2.5em;
    color: white;
    margin: 10px;
}

.text-picture-button h2{
    font-size: 1.5em;   
}

.text-picture-button img {
    height: 15em;
    width: auto;
    border-radius: 25px;
}

/*----------- button pressed anim -------------------------*/

.button-inset:hover {
    position: relative;
    box-shadow: none;
    transform: translate(6px,6px);
}

/*----------- trailer css ---------------------------------*/
.trailer {
    text-align: center;
    align-content: center;
    margin: 1em;
    height: fit-content;
    
    padding: 0.5vw;


    background-color: rgb(30, 13, 48);
    border-radius: 25px;


    -webkit-box-shadow: 6px 6px 2px 2px rgb(89, 65, 114);
    box-shadow: 6px 6px 2px 1px rgb(89, 65, 114);

    transition-duration: 200ms;
}

.trailer h1 {
    font-size: 2.5em;
    color: white;
    font-weight: lighter;
    font-family: HeronSansCond;
    margin: 0;


}

.trailer img {
    border-radius: 25px;  
    width: 40vw;
}

.photo-gallery img {
    width: 20vw;
    margin: 1vw;

}


/*----------------------------------------------------
                About page specific css
------------------------------------------------------*/

.info-panels {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-bottom: 1em;
}

.info-panel {
    background-color: rgb(30, 13, 48);
    width: 400px;
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Akkurat;

    -webkit-box-shadow: 6px 6px 2px 2px rgb(89, 65, 114);
    box-shadow: 6px 6px 2px 1px rgb(89, 65, 114);

    text-decoration: none;
    
}

.info-panel h2 {
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 2em;
    font-family: HeronSansCond;
}

.info-panel h3 {
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 1.5em;
    font-weight: 1000;
}

.info-panel ul {
    font-size: 1em;
    margin: 0px;
    padding: 10px;
}

.info-panel li {
    font-size: 150%;
    color: white;
    list-style-type: none;
}

.about-me-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    border-radius: 25px;
    margin: 1em;
}


/*----------------------------------------------------
                WIP page specific css
------------------------------------------------------*/

.WIP-text {
    text-align: center;
    font-weight: lighter;
    font-family: HeronSansCond;
    font-size: 2.5em;
    color: white;

    margin: 10px;
    
}

.WIP-image{
    border-bottom: 1px solid white;
    padding: 10px;
    width: 600px;
    align-self: center;
    margin-top: 40px;
}