*{
    box-sizing: border-box;
    color: #777;
}
html,body{
    margin: 0;
    padding: 0;
    border: 0px;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 1, 14);

}

.home-header{
    padding: 200px;
    background-image: url("/Images/temp street img.jpg");
    background-size: cover;
}
.home-header h1{
    color: white;
    align-items: center;
}



.nav ul{
    margin: 0;
    padding: 0;
}
.nav Li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.main-header h1{
    text-align: center;
    color: rgba(255, 255, 255);
    margin: 0;
    padding-top:  30px;
    margin-bottom: 30px;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-top: 1px solid white;
}

.main-nav a{
    color: white;
    
}
.main-nav li{
    padding:  0 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-header{
    background-color: rgb(30, 13, 48);

}

.content{
    flex: 1 0 auto;
}


.main-footer{
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(30, 13, 48);
    color: white;
    padding: .25em 0;
}

.main-footer h3{
    color: white;
    font-weight: lighter;
    font-size: 1.1em;;
}

.main-footer a{
    color: white;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container nav{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}



.art-button{
    height: 300px;
    background-color: rgb(70, 8, 61);
    margin: 20px;

}

.art-container{


    height: 230px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 230px;
    background-color: rgb(70, 8, 61);
}

.art-container img{
    transition-duration: 300ms;

}

.art-container img:hover{
    transform: scale(1.2);
}
.art-button h4{
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
}

.art-button img{
    width: 400px;
    
}

.art-buttons{
    justify-content: center;

    display: flex;
    flex-wrap: wrap;

}
.art-searcher h1{
    font-size: 2.2em;
}

.art-searcher{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}